%define         debug_package  %{nil}

Name:           {{ .metadata.name }}
Version:        {{ .metadata.version }}
Release:        {{ default 1 .metadata.release | toString }}%{?dist}
Summary:        
License:        
URL:            
Source0:        %{name}-%{version}.tar.gz

Source201:      sysusersd.conf
Source202:      tmpfiles.conf

BuildRequires:  
Requires:       

%description


%prep
%autosetup


%build
%configure
%make_build


%install
%make_install
%{__install} -Dm0644 %{SOURCE201} %{buildroot}%{_sysusersdir}/%{name}.conf
%{__install} -Dm0644 %{SOURCE202} %{buildroot}%{_tmpfilesdir}/%{name}.conf


%files
%license LICENSE
%{_tmpfilesdir}/%{name}.conf
%{_sysusersdir}/%{name}.conf


%pre
%sysusers_create_compat %{SOURCE201}


%changelog