[Unit]
Description=Simple WebDAV Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/webdav-server -config /etc/webdav-server/config.yaml
Restart=always
User=webdav-server
Group=webdav-server
WorkingDirectory=/var/lib/webdav-server
Restart=always
LimitNOFILE=1048576
LimitNPROC=512
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target